APP_ENV=production
DATABASE_URL=postgresql://neondb_owner:npg_S3TEQUtgJI4k@ep-ancient-feather-aokvwt31-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
FRONTEND_ORIGIN=https://hrms-codeid.vercel.app
JWT_ACCESS_SECRET=4rgF9/+tuonZhsEzaAwnUwQ67vmxf5r1iW0A9bOpCuZcxnBNn5PhPf72jF2K/m9B
JWT_REFRESH_SECRET=50aOkiJ4EPVm7j9yolm2Ik04SyUP2/0+GT+jtCR9CK+7nZ6YzU3eUxzNxABTRog1

DB_PORT=5432
DB_NAME=hrms
DB_USER=postgres
DB_PASSWORD=admin
DB_SSLMODE=disable

JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=168h
ADMIN_SEED_EMAIL=admin@northstar.id
ADMIN_SEED_PASSWORD=ChangeMe123!
